body{
    font-family:'Open sans',sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("bgimage.jpg"); 
    /*To make background image litter light use linear gradient */
    margin: 20px auto;
}
#calculator{
    width: 340px;
    height: 530px;
    background-color:rgba(0, 0, 0, 0.199);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    height: 120px;
}
#history{
    height: 20px;
    margin: 0 20px;
    text-align: right;
    padding-top: 20px;
    font-size: 15px;
    color:#292626;
}
#output{
    height: 60px;
    margin: 10px 20px;
    text-align: right;
    padding-top: 20px;
    font-size: 20px;
    color: #292626;
}
#keyboard{
    height: 400px;
}
.operator, .number{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
	font-size: 15px;
    color:black;
    cursor: pointer;
}
.number{
    background-color: rgba(179, 245, 240, 0.582);
}
.operator{
    background-color: rgba(0, 0, 0, 0.315);
}
/*active class is a pseudo-class for adding a effect when a button is clicked (it makes the font smaller here when clicked)*/
.operator:active, .number:active{
	font-size: 13px;
}
/*focus class is a pseudo-class which is used here for removing outline when a button is clicked */
.operator:focus, .number:focus{
	outline: 0;
}